.containerCart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.back { 
    text-decoration: none;
    font-size: 1.6rem;
  
}

.titleCart {
    color: rgb(41, 41, 41);
    font-size: 1.6rem;
}

.img {
    height: 40px;
}

.containerCart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.listCart {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cart {
    border: solid 1px #000;
    width: 800px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.trash {
    border: solid 1px #000;
    width: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
