.box {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    list-style: none;
}

.box li {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 7px;
    padding: 15px 20px;
    border: solid 1px rgb(131, 130, 130);
}

.box img {
    max-width: 170px;
    max-height: 200px;
}

.box:hover:not(:hover) {
    opacity: 0.1;
}

img:hover{
    scale: 1.1;
}

.titleProduct {
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titlePrice {
    font-size: 1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


